*{
    padding: 0;
    margin:0;  
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Raleway', sans-serif;  */
  }
  
  .header{
      height: 100vh;
      width: 100vw;
      background-image: linear-gradient(white,rgb(253, 165, 180));
      background-position: center;
      background-size: cover;
      background-position: relative;
  }
  
  nav{
      display: flex;
      padding: 0.5% 1%;;
      justify-content: space-between;
      align-items: center;
      height:50px;
      font-family: 'Raleway', sans-serif;
  }
  nav img{
      width: 100px;
  }
  .nav-links{
      flex:1;
      text-align: right;
  }
  
  .nav-links ul li{
      list-style:none;
      display: inline-block;
      padding: 8px 50px;
      position:relative;
  }
  
  .nav-links ul li a{
      color: black;
      text-decoration: none;
      font-size: 23px;
  }
  .nav-links ul li::after{
      content: '';
      width:0%;
      height: 2px;
      background:  #f3b6b2;
      display:block;
      margin:auto;
      transition:0.5s;
  }
  
  .nav-links ul li:hover::after{
      width:100%;
  }
  
  .nav-links ul li:hover #mainnav{
      color:#f3b6b2;
  }
  
  
  .subnav{
      visibility: hidden;
      display:none;
      transition: 0.5s;
      left:0;
      top:-600%;
  }
  
  .nav-links ul li:hover .subnav{
      visibility: visible;
      z-index: 1;
      display: block;
      position: absolute;
      text-align: left;
      background-color: white;
      color: white; 
      flex-wrap: wrap; 
      top:100%;  
  }
 
  .text-box{
      width:90%;
      color: black;
      top:50%;
      text-align: center;
      margin:auto;
      margin-top: 75px;
      padding-top:50px;
      display: block;
  }
  
  .text-box h1{
      font-size: 75px;
  }
  
  .textbox p{
      margin:17px 0 40px;
      font-size: 30px;
  }
  
  .search input{
      border:3px solid black;
      height:40px;
      width:calc(80%);
      border-radius: 50px;
      padding:0px 10px;
      font-size: 17px;
      margin-top: 20px;
  }
  
  
  .visit-btn{
      display: inline-block;
      text-decoration:none;
      color:black;
      border: 1.5px solid black;
      margin-top: 20px;
      padding : 10px 25px;
      font-size: 15px;
      background:transparent;
      cursor:pointer;
  }
  .visit-btn:hover{
      border:1.5px solid white;
      background-color: black;
      transition: 0.7s;
      color:white;
      font-size: 16px;
      font-weight: 400;
  }
  
  nav .fa{
      display:none;
  }

@media (max-width:1300px) {
    .text-box h1{
        font-size: 60px;
    }
    
}

@media (max-width:1020px) {
    .text-box h1{
        font-size: 50px;
    }
    
}

  @media(max-width:1160px){
      .search input{
          height:30px;
          padding:0px 10px;
          font-size: 10px;
          margin-top: 20px;
      }
      .nav-links ul li{
          list-style:none;
          display: inline-block;
          padding: 5px 30px;
          position:relative;
      }
      .nav-links ul li a{
          font-size: 17px;
      }
  }
  
  @media(max-width:600px){
      .text-box h1{
          font-size: 40px;
      }
      .textbox p{
          margin:12px 0 40px;
          font-size: 12px;
      }
      
      .search input{
          height:30px;
          border-radius: 50px;
          padding:0px 10px;
          font-size: 10px;
          margin-top: 20px;
      }
  }

  @media (max-width:830px) {

    *{
        max-width:100vw;
        overflow: hidden;
    }    
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background-image: linear-gradient(rgb(253, 165, 180),white);
        height:100vh;
        width:210;
        right:-150px;
        top:0;
        border-left:3px solid black;
        text-align: left;
        z-index: 2;
        transition:0.75s;
    }
    nav .fa{
        display:block;
        color: black;
        margin: 15px;
        font-size:22px;
        cursor:pointer;
    }
  }
